.asistencia {
  background-color: rgb(31, 30, 30);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0px;
  width: 100%;
}

.asistencia h1,
.texto {
  color: whitesmoke;
  text-align: center;
  padding: 10px 5px
}

.confirmacion {
  width: 50%;
}

.asistenciaForm {

  width: 50%;
}

.asistenciaFormDiv{
  margin: 10px 0;
  width: 75%;
}
.asistenciaForm form{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.asistenciaForm label {
  align-self: center;
  width: 100%;
  color: #faf9f9;
  font-size: 1.5rem;
}

.asistenciaForm input[type="text"],
.asistenciaForm input[type="number"],
.asistenciaForm textarea {
  border-radius: 20px;
  font-size: 1.5rem;
  width: 95%;
  padding-left: 5px;
}
.asistenciaForm input {
  border-radius: 20px;
  padding-left: 5px;
  height: 2rem;
  font-size: 1.5rem;
}

.asistenciaForm textarea {
  height: 100px;
  resize: none;
}

.asistenciaForm button {
  background-color: white !important;
  color: black;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1em;
  transition: background-color 0.3s ease;
 
}

.asistenciaForm button:hover {
  background-color: #b8b6b6;
}

.asistenciaForm button:active {
  background-color: #8a8989;
}

.modal-content-asistencia{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  color: white;
  padding-top: 10px;
}

@media only screen and (min-device-width : 250px) and (max-device-width : 480px) {
  .asistencia {
    background-color: rgb(31, 30, 30);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 20px !important;
  }
  .confirmacion {
    width: 100%;
  }
  
  .asistenciaForm {
    width: 90%;
  }
  
  .asistenciaFormDiv {
    width: 100%;
  }
}