.countDown{
    background-color: rgb(36, 35, 35);
    display: flex;
    justify-content: center;
    gap: 10px;
    height: 200px;
    width: 100%;
}
.box{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.box h2{
    color: white;
    text-align: center;
    font-size: 2rem;
}

.box p{
    text-align: center !important;
    font-size: 3rem;
    color: aliceblue
};
