.footer {
    font-family: "Pinyon Script";
    font-style: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
.footer h1{
  font-size: 3rem;
  text-align: center;
  font-family: "Cormorant SC", serif !important;
  font-weight: 300 !important;
  font-style: normal !important;
}

.fin{
  max-width: 100vh;
  border-radius: 20px;

}

@media only screen and (min-device-width : 250px) and (max-device-width : 480px) {
  .fin{
    max-width: 50vh;
  }
}