.footer {
    font-family: "Pinyon Script";
    font-style: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
.footer h1{
  font-size: 2rem;
  text-align: center;
  font-family: "Cormorant SC", serif !important;
  font-weight: 300 !important;
  font-style: normal !important;
}

.footer h2{
  font-size: 2rem;
  text-align: center;
  font-family: "Cormorant SC", serif !important;
  font-weight: 300 !important;
  font-style: normal !important;
}

.fin{
  width: 500px;
}