.header {
    font-family: "Pinyon Script";
    font-style: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
.header h1{

  font-size: 5rem;
}

.header h2{
  font-size: 4rem;
}